.header {
  height: 100vh;
  background: url("../media/backgrounds/img02.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 1px rgba(50, 20, 5, 1), -1px -1px 1px rgba(50, 20, 5, 1),
    1px 3px 3px rgba(50, 20, 5, 0.8), 2px 4px 15px rgba(0, 0, 0, 0.6),
    -1px -3px 3px rgba(50, 20, 5, 0.8);

  .title-text {
  }

  h1 {
    font-family: "Ballet", cursive;
    font-size: 6rem;
    text-align: center;
  }
  h2,
  h3 {
    text-align: center;
  }

  #details-btn {
    background-color: #ffddddaa;
    text-decoration: none;
    color: #fff;
    text-shadow: none;
    transition: all 0.3s ease;
    display: block;
    padding: 5px;
    width: 120px;
    margin: 20px auto;

    &:hover {
      background-color: #ffddddff;
      color: black;
    }
  }
}
