/*
  background: url("../media/backgrounds/img02.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
*/

.invite {
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: rgb(245, 220, 224);

  .title-text {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-shadow: 1px 1px 1px rgba(50, 20, 5, 1),
      -1px -1px 1px rgba(50, 20, 5, 1), 1px 3px 3px rgba(50, 20, 5, 0.8),
      2px 4px 15px rgba(0, 0, 0, 0.6), -1px -3px 3px rgba(50, 20, 5, 0.8);
    color: white;
    transition: all 0.3s linear;
    background: linear-gradient(45deg, #edc0bf33 50%, #c4caef33 58%);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(122, 122, 122, 0.3);
    padding: 3rem;
    border-radius: 2rem;
    box-shadow: 5px 5px 5px rgba(black, 0.3);
    overflow: hidden;
  }

  .title-text:hover {
    background: linear-gradient(45deg, #edc0bf33 40%, #c4caef33 68%);
    box-shadow: 15px 15px 15px rgba(black, 0.6);
  }

  .title-text::after {
    content: "";
    top: -110%;
    left: 120%;
    transform: rotate(-45deg);
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.1),
      transparent
    );
    position: absolute;
    width: 13rem;
    height: 100vw;
  }

  .title-text:hover::after {
    -webkit-animation: buttonSlide 1.7s 1;
    animation: buttonSlide 1.7s 1;
  }

  @-webkit-keyframes buttonSlide {
    0% {
      top: -110%;
      left: 120%;
    }

    50% {
      top: 10%;
      left: -30%;
    }

    100% {
      top: -10%;
      left: -10%;
    }
  }

  @keyframes buttonSlide {
    0% {
      top: -110%;
      left: 90%;
    }

    50% {
      top: 10%;
      left: -30%;
    }

    100% {
      top: -10%;
      left: -10%;
    }
  }
  h1 {
    font-family: "Ballet", cursive;
    font-size: 6rem;
    text-align: center;
  }
  h2,
  h3 {
    text-align: center;
  }

  #details-btn {
    background-color: rgba(182, 144, 144, 0.8);
    text-decoration: none;
    color: #fff;
    text-shadow: none;
    transition: all 0.3s ease;
    display: block;
    padding: 5px;
    width: 120px;
    margin: 20px auto;
    box-shadow: 1px 2px 5px black;

    &:hover {
      box-shadow: 1px 1px 2px black;
      background-color: #ffddddff;
      color: black;
    }
  }
}

@media screen and (max-width: 768px) {
  #bg2,
  #bg2 {
    display: none;
  }
  .invite {
    overflow-y: auto;
    width: 100%;
    position: inherit;
    transform: translate(0%, 0%);

    width: 90%;
    margin: 50px auto 50px auto;
    position: inherit;
    transform: translate(0%, 0%);
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 2rem;
    }
  }
}
