.header {
  height: 100vh;
  background: url("../media/backgrounds/img02.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 1px rgba(50, 20, 5, 1), -1px -1px 1px rgba(50, 20, 5, 1),
    1px 3px 3px rgba(50, 20, 5, 0.8), 2px 4px 15px rgba(0, 0, 0, 0.6),
    -1px -3px 3px rgba(50, 20, 5, 0.8);

  .title-text {
    transition: all 0.3s linear;
    background: linear-gradient(45deg, #edc0bf33 50%, #c4caef33 58%);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(122, 122, 122, 0.3);
    padding: 3rem;
    border-radius: 2rem;
    box-shadow: 5px 5px 5px rgba(black, 0.3);
    position: relative;
    overflow: hidden;
  }

  .title-text:hover {
    background: linear-gradient(45deg, #edc0bf33 40%, #c4caef33 68%);
    box-shadow: 15px 15px 15px rgba(black, 0.6);
  }

  .title-text::after {
    content: "";
    top: -110%;
    left: 120%;
    transform: rotate(-45deg);
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.1),
      transparent
    );
    position: absolute;
    width: 13rem;
    height: 100vw;
  }

  .title-text:hover::after {
    -webkit-animation: buttonSlide 1.7s 1;
    animation: buttonSlide 1.7s 1;
  }

  @-webkit-keyframes buttonSlide {
    0% {
      top: -110%;
      left: 120%;
    }

    50% {
      top: 10%;
      left: -30%;
    }

    100% {
      top: -10%;
      left: -10%;
    }
  }

  @keyframes buttonSlide {
    0% {
      top: -110%;
      left: 90%;
    }

    50% {
      top: 10%;
      left: -30%;
    }

    100% {
      top: -10%;
      left: -10%;
    }
  }
  h1 {
    font-family: "Ballet", cursive;
    font-size: 6rem;
    text-align: center;
  }
  h2,
  h3 {
    text-align: center;
  }

  #details-btn {
    background-color: #ffddddaa;
    text-decoration: none;
    color: #fff;
    text-shadow: none;
    transition: all 0.3s ease;
    display: block;
    padding: 5px;
    width: 120px;
    margin: 20px auto;

    &:hover {
      background-color: #ffddddff;
      color: black;
    }
  }
}
