* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Baskerville", serif;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #ffffff;
  background-size: cover;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  color: rga(54, 54, 54);
}

.App {
  transition: all 0.5s ease;
}

.App.library-active {
  margin-left: 30%;
}

@import "./videocontent";
@import "./header";
@import "./carousel";
